@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #18181b;
}
#counter{
    background-color: #262626;
    margin-right: 400px;
    padding: 2rem;
    border-radius: 8px;
}
#counter div{
    display: flex;
    align-items: center;
}
#value{
    font-size: 8rem;
    color: #fff;
    min-width: 14rem;
    text-align: center;
}
button{
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: opacity .3s;
}
button:hover{
    opacity: .8;
}
.count-button{
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    background-color: #18181b;
    margin-right: 1rem;
}
.count-button:last-child{
    margin-right: 0rem;
    margin-left: 1rem;
}
#reset{
    width: 100%;
    font-size: 1.8rem;
    background-color: #3730a3;
    padding: .8rem 0;
    margin-top: 1rem;
}
#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0187a7;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    margin-right: 20px;
    min-width: 82px;
}
#sidebar-content{
    padding: 12px;
}
#user{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}
#user-avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}
#user-infos{
    display: flex;
    flex-direction: column;
}
#user-infos span:last-child{
    color: #18181b;
    font-size: 12px;
    font-weight: 600;
}
#side-items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}
.side-item{
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}
.side-item.active{
    background-color: #4f46e5;
}
.side-item:hover:not(.active), #logout-btn:hover{
    background-color: #e3e9f7;
}
.side-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}
.side-item.active a{
    color: #e3e9f7;
}
.side-item a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
#logout{
    border-top: 2px solid #e3e9f7;
    padding: 12px;
}
#logout-btn{
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    color: #59429d;
    background-color: #e3e9f7;
}
#open-btn{
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    font-weight: 900;
}
#open-btn-icon{
    transition: transform .3s ease;
}
.open-sidebar #open-btn-icon{
    transform: rotate(180deg);
}
.item-description{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}
#sidebar.open-sidebar{
    min-width: 10%;
}
#sidebar.open-sidebar .item-description{
    width: 150px;
    height: auto;
    overflow: hidden;
}
#sidebar.open-sidebar .side-item a{
    justify-content: flex-start;
    gap: 14px;
}